.img-responsive{
    height:100px;
}

/* .navbar-light .nav-link{
    color:#0c596aff;
} */

/* nav .navbar-nav li a{
    color:#06152cff !important;
    font-size: calc(18px + 1vw);
    } */
  


.nav-link:hover{
    opacity:0.5; filter:alpha(opacity=50);
}

#container-footer{
    width: 60%;
    margin: auto;
}


h1 {
    color:  white;
    margin-bottom:-2.5%;
    font-size: calc(20px + 3vw);
}


h4 {
    color:  white;
    font-size: calc(12px + 0.7vw);
    text-indent: 0.5%;
    letter-spacing: 0.2em;
}

.footer-copyright{
    color:white;
}
