.img-responsive{
    height:100px;
}

.nav-link:hover{
    opacity:0.5; filter:alpha(opacity=50);
}

#container-header{
    margin-bottom: 8%;
}

#container-footer{
    width: 60%;
    margin: auto;
}


h1 {
    color:  white;
    margin-bottom:-2.5%;
    font-size: calc(20px + 3vw);
}


h4 {
    color:  white;
    font-size: calc(12px + 0.7vw);
    text-indent: 0.5%;
    letter-spacing: 0.2em;
}

.footer-copyright{
    color:white;
}
