/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Der må ikke redigeres i det ovenstående */

@font-face {
    font-family:myFirstFont;
    src: url('fonts/calibri.ttf');
	format:('truetype');
}

@font-face {
    font-family:myFirstFont;
    src: url('fonts/calibrib.ttf');
	format:('truetype');
	font-weight: bold;
}
div {
    font-family:myFirstFont;
}


body{
background-size:100%;
background-image:url('img/bitmap3.png');
background-repeat: no-repeat;
background-attachment: fixed;
font-family:myFirstFont;

}

#menu ul,
#menu li,
#menu span,
#menu a {
  margin: 0;
  padding: 0;

      padding-top: 8px;
	        padding-bottom: 8px;
}

}
#menu {

  height: 37px;
  float:left;
  }
  
#menu:after,
#menu ul:after {
  content: '';
  display: block;
  clear: both;
}
#menu a {
float:left;
width:100%;
  color: #fff;
  display: inline-block;
  font-family:Penelope Anne;
  font-weight: bold;
  font-size: 35px;	
  line-height: 37px;
  padding: 0;
  text-decoration: none;
}

#last a{
border-right: 0px;
}

#menu ul {
  list-style: none;
  text-align:center; 
}
#menu > ul {
width:100%;
  float: right;
}
#menu > ul > li {
width:33.33%;
  float: left;
}

#menu > ul > li.active a {
  box-shadow: inset 0 0 3px #000000;
  -moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  background: #070707;
  background: -moz-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #26262c), color-stop(100%, #070707));
  background: -webkit-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -o-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -ms-linear-gradient(top, #26262c 0%, #070707 100%);
  background: linear-gradient(to bottom, #26262c 0%, #070707 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#26262c', EndColorStr='#070707', GradientType=0);
}

#menu > ul > li:hover > a {
  color: #69f0f2;
}

#indlg{
float:left;
width:100%;
padding-top:10px;
font-size:15px;
line-height:180%;
}

#indlgdate{
	float:left;
	width:100%;
	padding-bottom:10px;
	font-size:15px;
	color:grey;
	line-height:180%;
    text-align: right;
}
#indlgtpic {
	padding-left:10px;
	padding-bottom:10px;
    float: right;
    width: 60%;
    margin: 5px;
}

#indlgtpic1 {
	padding-left:10px;
	padding-bottom:10px;
    float: right;
    width: 40%;
    margin: 5px;
}

#indlgtextleft{
	float:left;
	width:100%;
	padding-bottom:10px;
	font-size:15px;
	color:grey;
	line-height:180%;
    text-align: right;
}

#indlgseperator{
float:left;
width:100%;
padding-top:20px;
border-style: solid;
border-bottom: solid #000000;
border-bottom-width: 1px;
}

#header{
width:100%;
height:60px;
margin-top:10px;
position:absolute;
}

#wrapperunder{
color:#fff;
width:100%;
float:left;
padding-top:35px;
padding-bottom:60px;
}

#wrapper{
color:#fff;
width:100%;
float:left;
background-color:#000;
margin-top:160px;
font-family:Caviar Dreams;
font-size: 100px;
  text-align:center;
  position: center;
  opacity:0.9; filter:alpha(opacity=90);
}

#wrapper2{
color:#fff;
width:100%;
height:330px;
margin-bottom:auto;
margin-right:auto;
margin-top:100px;
margin-left:auto;
font-family:Vintage;
font-size: 100px;
  text-align:center;
  position: center;
}
#text{
background-color:#F5F5F5;
width:870px;
height:400px;
margin-right:auto;
margin-left:auto;
  box-shadow: inset 0 0 3px #E6E6E6;
  -moz-box-shadow: inset 0 0 3px #E6E6E6;
  -webkit-box-shadow: inset 0 0 3px #E6E6E6;
      margin-bottom: 70px;
}

#text1{
width:256px;
height:360px;
background-color:none;
float:left;
padding:15px;
  font-family:myFirstFont;
  	color:#23231d;
	text-align:justify;
}

#text2{
width:256px;
height:360px;
background-color:none;
float:left;
padding:15px;
  font-family:myFirstFont;
  text-align:center;
    font-family:Caviar Dreams;
  font-size: 22px;
    font-weight: bold;
	color:#23231d;
}

#text3{
width:256px;
height:360px;
background-color:none;
float:left;
padding:15px;
text-align:center;
  font-family:Caviar Dreams;
  font-size: 22px;
    font-weight: bold;
	color:#23231d;
}

#logo {
float:left;
position:static;
  padding-left: 19px;
}

#logo:hover{
opacity:0.8; filter:alpha(opacity=80);
}

#img {
color:none;
  padding-bottom: 19px;
}

#img:hover{
opacity:0.9; filter:alpha(opacity=90);
}

#nadia {
color:none;
  padding-top: 13px;
}

#box1 {
color:#000;
width: 634px;
background-color:#ffffff;
font-family:myFirstFont;
padding-left:29px;
padding-right:29px;
padding-top:66px;
padding-bottom:75px;
margin-right:auto;
margin-left:auto;

	line-height:140%;
text-decoration: none;
-webkit-box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.77);
-moz-box-shadow:    0px 0px 22px 0px rgba(50, 50, 50, 0.77);
box-shadow:         0px 0px 22px 0px rgba(50, 50, 50, 0.77);
background-color:rgba(255,255,255,00.90);
}

#box2{
  	line-height:300%;
}
#box3inder {
color:#000;
width:90%;
min-width:550px;
min-height:350px;
background-color:#ffffff;
font-family:Caviar Dreams;
font-size:50;
float:left;
padding-left:5%;
padding-right:5%;
padding-top:60px;
padding-bottom:15px;
margin-bottom:20px;
	line-height:50%;
text-decoration: none;
-webkit-box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.77);
-moz-box-shadow:    0px 0px 22px 0px rgba(50, 50, 50, 0.77);
box-shadow:         0px 0px 22px 0px rgba(50, 50, 50, 0.77);
background-color:rgba(255,255,255,00.90);
}
#box3outer {
width:95%;
min-width:750px;

margin-right:auto;
margin-left:auto;
margin-bottom:66px;}

#box4 {
color:#000;
width:56%;
background-color:none;
font-family:Caviar Dreams;
font-size:50;
	line-height:50%;
text-decoration: none;
float:left;
padding-right:4%;
}

#box5 {
color:#000;
width:40%;
background-color:none;
font-family:Caviar Dreams;
font-size:50;
	line-height:50%;
text-decoration: none;
float:right;
}

#box6 {
color:#000;
width: 634px;
background-color:#ffffff;
font-family:myFirstFont;
padding-left:29px;
padding-right:29px;
padding-top:25px;
padding-bottom:25px;
margin-right:auto;
margin-left:auto;

	line-height:140%;
text-decoration: none;
-webkit-box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.77);
-moz-box-shadow:    0px 0px 22px 0px rgba(50, 50, 50, 0.77);
box-shadow:         0px 0px 22px 0px rgba(50, 50, 50, 0.77);
background-color:rgba(255,255,255,00.90);
}

#box7{
float:left;
width:300px;
height:340px;
}

#box8{
float:right;
height:340px;
}

#box9{
text-align:right;
float:right;
width:100%;
}

#menutext:hover{
opacity:0.5; filter:alpha(opacity=50);
}

#tilbage{
float:right;
-webkit-box-shadow: 1px 0px 5px 0px rgba(50, 50, 50, 0.32);
-moz-box-shadow:    1px 0px 5px 0px rgba(50, 50, 50, 0.32);
box-shadow:         1px 0px 5px 0px rgba(50, 50, 50, 0.32);
}

#tilbage:hover{
opacity:0.8; filter:alpha(opacity=80);
}

#pil{
margin-top:0px;
float:left;
}

#pil:hover{
opacity:0.5; filter:alpha(opacity=50);
}

#port{
color:#000;
width:960px;
margin-bottom:auto;
margin-right:auto;
margin-top:0px;
margin-left:auto;
font-family:Caviar Dreams;
font-size: 80px;
  text-align:center;
  position: center;

}

#port2{
z-mostlyhairstyles:1;
float:left;
color:#000;
width:820px;
margin-bottom:auto;
margin-right:auto;
margin-top:0px;
margin-left:auto;
padding-left:60px;
padding-right:60px;
  padding-bottom:50px;
font-family:Caviar Dreams;
font-size: 12px;
  text-align:center;
  position: center;

background-color:rgba(255,255,255,00.90);
}
#portfoliopic{
float:left;
width:260px;
height:260px;
padding-left:45px;
padding-bottom:10px;
padding-top:5px;
}

#frontpagepic{
float:left;
padding:0px;
padding:2%;
}

#frontpagepic:hover{
opacity:0.9; filter:alpha(opacity=90);
}

#pictxt{
float:left;
width:260px;
padding-left:45px;
padding-bottom:20px;
font-size: 16px;
font-family:Caviar Dreams;
}

#img1text { 
    text-align: center; 
    margin: 0; padding: 25px 0 0 0;
}

#over{
margin-bottom:15px;
}

#logoo{
padding-left:35px;
}

#logoo:hover{
opacity:0.9; filter:alpha(opacity=90);
}

#font1{
font-weight:bold;
}





#pricing-table {
margin-right:auto;
margin-left:auto;
    text-align: center;
    width: 892px; /* total computed width = 222 x 3 + 226 */
}

#pricing-table .plan {
    font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
    text-shadow: 0 1px rgba(255,255,255,.8);        
    background: #fff;      
    border: 1px solid #ddd;
    color: #333;
    padding: 20px;
    width: 180px; /* plan width = 180 + 20 + 20 + 1 + 1 = 222px */      
    float: left;
    position: relative;
}

#pricing-table #most-popular {
    z-mostlyhairstyles: 2;
    top: -13px;
    border-width: 3px;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);    
}

#pricing-table .plan:nth-child(1) {
    border-radius: 5px 0 0 5px;        
}

#pricing-table .plan:nth-child(4) {
    border-radius: 0 5px 5px 0;        
}

/* --------------- */   

#pricing-table h3 {
    font-size: 20px;
    font-weight: normal;
    padding: 20px;
    margin: -20px -20px 50px -20px;
    background-color: #eee;
    background-image: linear-gradient(#fff, #eee);
}

#pricing-table #most-popular h3 {
    background-color: #ddd;
    background-image: linear-gradient(#eee, #ddd);
    margin-top: -30px;
    padding-top: 30px;
    border-radius: 5px 5px 0 0;         
}

#pricing-table .plan:nth-child(1) h3 {
    border-radius: 5px 0 0 0;       
}

#pricing-table .plan:nth-child(4) h3 {
    border-radius: 0 5px 0 0;       
}   

#pricing-table h3 span {
    display: block;
    font: bold 25px/100px Georgia, Serif;
    color: #777;
    background: #fff;
    border: 5px solid #fff;
    height: 100px;
    width: 100px;
    margin: 10px auto -65px;
    border-radius: 100px;
    box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
}

/* --------------- */

#pricing-table ul {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
}

#pricing-table li {
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

/* --------------- */
    
#pricing-table .signup {
    position: relative;
    padding: 8px 20px;
    margin: 20px 0 0 0;  
    color: #fff;
    font: bold 14px Arial, Helvetica;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;       
    background-color: #72ce3f;
    background-image: linear-gradient(#72ce3f, #62bc30);
    border-radius: 3px;     
    text-shadow: 0 1px 0 rgba(0,0,0,.3);        
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
}

#pricing-table .signup:hover {
    background-color: #62bc30;
    background-image: linear-gradient(#62bc30, #72ce3f); 
}

#pricing-table .signup:active, #pricing-table .signup:focus {
    background: #62bc30;       
    top: 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset; 
}

/* --------------- */

.clear:before, .clear:after {
  content:"";
  display:table
}

.clear:after {
  clear:both
}

.clear {
  zoom:1
}

a:link{
text-decoration: none;
color:#000;
}

a:visited{
text-decoration: none;
color:#000;
}

a:hover{
text-decoration: none;
color:#000;
}

a:active{
text-decoration: none;
color:#000;
}